html {
  font-size: 16px;
  font-family: Verdana, Helvetica, monospace;
}
html, body {
  overflow-x:hidden;
}
/* HEADER */
#header {
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  position: fixed; /* fixed position at the top of the page */
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s; /* transition effect on scroll */
  display: block;
  color: #3c345c;
}
#title {
  color: #3c345c;
}
#notCurrent a {
  color: #3c345c;
}
#notCurrent a:hover {
  color: #b8aec8;
}
.home-title {
  color: #3c345c;
  font-family: Verdana, Helvetica, monospace;
  font-size: 80px;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: -5px;
}
.home-title a:link, a:visited {
  color: #3c345c;
  text-decoration: none;
}
/* tooltips */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #3c345c;
  color: #ffffff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px 5px 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
  font-size: 80%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
  /*Make the tooltip display above with an arrow point down*/
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #3c345c transparent transparent transparent;
}
/*End tooltips*/
/* Home page */
.header-wrapper h3 {
  margin: 0;
}
.header-wrapper h3+p {
  margin-top: 0;
}
.header-wrapper p {
  line-height: 25px;
}
.header-wrapper {
  width: 100%;
  /*max-width: 1200px;*/
  /*margin: 20px auto;*/
  background-color: #ffffff;
}
.title {
/*  color: #3c345c; */
  font-family: Verdana, Helvetica, monospace;
/*  font-size: 80px; */
  text-align: center;
  letter-spacing: 3px;
  word-spacing: -5px;
}
.home-hero {
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: minmax(250px, auto);
}
.header .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.home-hero > * {
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  color: #ffffff;
}
.feature-square {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),url(images/videos.gif);
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.rect-top {
  background-image: url(images/writings.png);
  color: #ffffff;
  background-position: center;
}
.rect-bottom {
  background-image: url(images/codings.png);
  color: #ffffff;
  background-position: center;
}
.feature-square h3 {
  margin-top: auto;
}
.rect-top h3 {
  margin-top: auto;
}
.rect-bottom h3 {
  margin-top: auto;
}
@media (min-width: 500px) {
  .home-hero {
    grid-template-columns: 1fr 1fr;
  }
  .feature-square {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  .rect-top {
    grid-column: 1;
    grid-row: 1;
  }
  .rect-bottom {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (max-width: 499px) {
  .home-hero {
    display: grid;
    grid-gap: 1px;
    grid-auto-rows: minmax(150px, auto);
  }
}
/* End Home page */
/* About page */
.about-wrapper p {
  line-height: 25px;
}
.about-wrapper {
  width: 80%;
  /*max-width: 1200px;*/
  margin: 20px auto;
  background-color: #ffffff;
  display: grid;
}
.imgHanna {
  border-radius: 200px;
  display: block;
  float: right;
  margin: 50px 50px 0 0;
  border: 5px solid #920075;
}
.about {
  display: grid;
  grid-template-columns: 40% 60%;
}
.about-photo {
  grid-column: 1;
  float: left;
}
.about-copy {
  grid-column: 2;
  text-align: left;
  margin: 20px 0 0 0;
}
.strengthsTitles {
  color: #920075;
  cursor: pointer;
}
#arrowOne, #arrowTwo, #arrowThree, #arrowFour, #arrowFive {
  border: solid #920075;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 4px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
}
#strengths {
  display: block;
  margin: auto;
  width: 50%;
  background-color: #b8aec8;
  padding: 15px 35px;
  border-radius: 10px;
}
#strengths ul {
  width: 95%;
}
#strengths a {
  color: #920075;
  text-decoration: none;
}
#strengths a:hover {
  color: #4f0140;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-photo {
    grid-column: 1;
    grid-row: 1;
    display: block;
    margin: auto;
  }
  .about-copy {
    grid-column: 1;
    grid-row: 2;
  }
  #strengths {
    width: 80%;
  }
}
@media (max-width: 499px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
  }
  #strengths {
    width: 80%;
  }
}
/*@media (min-width: 768px) {
  .strengths-desktop {
    background-color: rgba(58, 153, 168, 0.8);
    text-align: left;
    display: flex;
    flex-direction: row;
    grid: repeat(3, max-content) / 20em auto 20em;
  }
  #strengths {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 500px) {

}*/
/* End About page */
/* About Timeline */
/* timeline line */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: black;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* End About Timeline */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title a:link, a:visited {
  color: #3c345c;
  text-decoration: none;
}
.main-nav {
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 15px;
  font-size: 20px;
  line-height: 60%;
  font-weight: bold;
}
.main-nav a:link, a:visited {
  color: #3c345c;
  text-decoration: none;
}
.main-nav a:hover {
  color: #b8aec8;
  text-decoration: none;
}
.main-nav a:active {
  color: #b8aec8;
  text-decoration: underline;
}
.main-nav .current {
  color: #b8aec8;
}
input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #3c345c;
  margin-top: 6px;
  resize: vertical;
}
input[type=email] {
  padding: 12px;
  border: 1px solid #3c345c;
  margin-top: 6px;
  resize: vertical;
}
input[type=submit] {
  background-color: #3c345c;
  color: #ffffff;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #181424
}
.contact-form {
  border-radius: 10px;
  background-color: #b8aec8;
  padding: 10px;
}
.overlay {
  text-align: center;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 640px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-width: 640px) {
  .column, input[type=submit] {641
    width: 100%;
    margin-top: 0;
  }
}
