html {
  font-size: 16px;
  font-family: Verdana, Helvetica, monospace;
}
.index {
  background-color: #ffffff;
}
html, body {
  overflow-x:hidden;
}
/* HEADER */
#header {
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  position: fixed; /* fixed position at the top of the page */
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s; /* transition effect on scroll */
  display: block;
  color: #3c345c;
}
#title {
  color: #3c345c;
}
#notCurrent a {
  color: #3c345c;
}
#notCurrent a:hover {
  color: #b8aec8;
}
.home-title {
  color: #3c345c;
  font-family: Verdana, Helvetica, monospace;
  font-size: 80px;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: -5px;
}
.home-title a:link, a:visited {
  color: #3c345c;
  text-decoration: none;
}
/* tooltips */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #3c345c;
  color: #ffffff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px 5px 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
  font-size: 80%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
  /* make the tooltip display above with an arrow pointing down */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* at the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #3c345c transparent transparent transparent;
}
/*End tooltips*/
/* Home page */
.header-wrapper h3 {
  margin: 0;
}
.header-wrapper h3+p {
  margin-top: 0;
}
.header-wrapper p {
  line-height: 25px;
}
.header-wrapper {
  width: 100%;
  /*max-width: 1200px;*/
  /*margin: 20px auto;*/
  background-color: #ffffff;
}
.title {
/*  color: #3c345c; */
  font-family: Verdana, Helvetica, monospace;
/*  font-size: 80px; */
  text-align: center;
  letter-spacing: 3px;
  word-spacing: -5px;
}
.home-hero {
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: minmax(250px, auto);
}
.header .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.home-hero > * {
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  color: #ffffff;
}
.feature-square {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),url(images/videos.gif);
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.rect-top {
  background-image: url(images/writings.png);
  color: #ffffff;
  background-position: center;
}
.rect-bottom {
  background-image: url(images/codings.png);
  color: #ffffff;
  background-position: center;
}
.feature-square h3 {
  margin-top: auto;
}
.rect-top h3 {
  margin-top: auto;
}
.rect-bottom h3 {
  margin-top: auto;
}
@media (min-width: 500px) {
  .home-hero {
    grid-template-columns: 1fr 1fr;
  }
  .feature-square {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  .rect-top {
    grid-column: 1;
    grid-row: 1;
  }
  .rect-bottom {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (max-width: 499px) {
  .home-hero {
    display: grid;
    grid-gap: 1px;
    grid-auto-rows: minmax(150px, auto);
  }
}
/* End Home page */
/* About page */
.about-wrapper p {
  line-height: 25px;
}
.about-wrapper {
  width: 80%;
  /*max-width: 1200px;*/
  margin: 20px auto;
  background-color: #ffffff;
  display: grid;
}
.imgHanna {
  border-radius: 200px;
  display: block;
  float: right;
  margin: 50px 50px 0 0;
  border: 5px solid #920075;
}
.about {
  display: grid;
  grid-template-columns: 40% 60%;
}
.about-photo {
  grid-column: 1;
  float: left;
}
.about-copy {
  grid-column: 2;
  text-align: left;
  margin: 20px 0 0 0;
}
@media (max-width: 800px) {
  .testimonial-container {
    flex-direction: column;
  }
}
.testimonial {
  min-height: 400px;
  width: 350px;
  margin: 2%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0,0,0,.3);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.testimonial-text {
  padding: 2.2em;
  line-height: 1.7em;
  position: relative;
  font-size: 18px;
}
.testimonial-image01 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url(images/judy-pedersen.PNG);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonial-image02 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url(images/sameer-seddiq.PNG);
  filter: grayscale(100%);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonial-image03 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url(images/kristan-hinders.PNG);
  filter: grayscale(100%);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonial-footer {
  background: linear-gradient(90deg, #3c345c 0%, #920075 100%);
  height: 140px;
  border-radius: 0 0 10px 10px;
  position: relative;
}
.quote {
  font-size: 400%;
  float: right;
  opacity: 0.1;
  transform: rotate(10deg) translate(-10px, -40px);
  color: #4D3FA3;
}
.testimonial-attribution {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 0.9em;
  text-align: center;
}
.testimonial-attribution h4 {
  margin-top: -15px;
  font-size: 0.8em;
}
.strengthsTitles {
  color: #920075;
  cursor: pointer;
  width: 100%;
}
#arrowOne, #arrowTwo, #arrowThree, #arrowFour, #arrowFive {
  border: solid #920075;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 4px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
}
#strengths {
  display: block;
  margin: auto;
/*  width: 50%; */
  background-color: #b8aec8;
  padding: 15px 35px;
/*   border-radius: 10px; */
}
#strengths ul {
  width: 95%;
}
#strengths a {
  color: #920075;
  text-decoration: none;
}
#strengths a:hover {
  color: #4f0140;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-photo {
    grid-column: 1;
    grid-row: 1;
    display: block;
    margin: auto;
  }
  .about-copy {
    grid-column: 1;
    grid-row: 2;
  }
  #strengths {
    width: 80%;
  }
}
@media (max-width: 499px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
  }
  #strengths {
    width: 80%;
  }
}
/* End About page */
/* About Timeline */
/* timeline line */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: black;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* End About Timeline */
/* RESUME PAGE */
.resume h2 {
  margin: 1% 0 0 2%;
  color: #3c345c;
}
.resume h3 {
  margin: 0 0 0 2%;
  color: #3c345c;
}
.resume h5 {
  margin: 0 0 1% 2%;
  color: #920075;
}
.dates {
  margin: 0.5% 0 1% 2%;
  font-size: 0.8em;
}
.resume ul {
  margin: 1% 2% 2% 2%;
}
.resume li {
  margin: 5px;
}
.resume li a {
  color: #009999 !important;
  text-decoration: none;
}
.resume li a:hover {
  color: #4f0140;
  text-decoration: none;
  font-weight: bold;
}
.honors-awards li {
  list-style: none;
  text-indent: -1.4em;
}
.honors-awards   li::before {
  content: "\2B50  ";
}
.honors-awards p {
  line-height: 50%;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  margin: 3% 2% 2% 2%;
  background-color: #b8aec8;
  border-radius: 10px;
  padding: 10px;
}
.skill-item {
  flex: 20%;
}
.resume-section {
  margin-top: 250px;
}
@media (max-width: 842px) {
  .honors-awards p {
    line-height: 100%;
  }
}
@media (max-width: 800px) {
  .skill-item {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 622px) {
  .resume-section {
    margin-top: 330px;
  }
}
@media (max-width: 600px) {
  .skill-item {
    flex: 100%;
    max-width: 100%;
  }
}
/* END RESUME PAGE */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title a:link, a:visited {
  color: #3c345c;
  text-decoration: none;
}
.main-nav {
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 15px;
  font-size: 20px;
  line-height: 60%;
  font-weight: bold;
}
.main-nav a:link, a:visited {
  color: #3c345c;
  text-decoration: none;
}
.main-nav a:hover {
  color: #b8aec8;
  text-decoration: none;
}
.main-nav a:active {
  color: #b8aec8;
  text-decoration: underline;
}
.main-nav .current {
  color: #b8aec8;
}
input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #3c345c;
  margin-top: 6px;
  resize: vertical;
}
input[type=email] {
  padding: 12px;
  border: 1px solid #3c345c;
  margin-top: 6px;
  resize: vertical;
}
input[type=submit] {
  background-color: #3c345c;
  color: #ffffff;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #181424
}
.contact-form {
  border-radius: 10px;
  background-color: #b8aec8;
  padding: 10px;
}
.overlay {
  text-align: center;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 640px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-width: 640px) {
  .column, input[type=submit] {641
    width: 100%;
    margin-top: 0;
  }
}
/* GRAPHICS START */
.graphics-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
}
.graphics-item {
  background-color: #b8aec8;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  width: 10%;
  border-radius: 5px;
  margin: 5px;
  flex-shrink: 1;
}
.graphics-item img {
  border-radius: 5px;
  object-fit: cover;
}
.graphics-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.graphicsImage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.graphicsImage:hover {
  opacity: 0.7;
}
.graphics-modal {
  display: none; /* hidden by default */
  position: fixed; /* stay in place */
  z-index: 1; /* sit on top */
  padding-top: 100px; /* location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if needed */
  background-color: rgb(0,0,0); /* fallback color */
  background-color: rgba(0,0,0,0.9); /* black w opacity */
}
.graphics-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#graphicsCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #cccccc;
  padding: 10px 0;
  height: 150px;
}
/* animation */
.graphics-modal-content, #graphics-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.exit-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.exit-button:hover,
.exit-button:focus {
  color: #bab4b4;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .graphics-modal-content {
    width: 100%;
  }
  .graphics-flex {
    flex-direction: row;
    justify-content: stretch;
  }
  .graphics-item {
    width: 40%;
    padding: 2%;
  }
}
